body{
    background-color: #cccccc;
    margin: 0;
}
.rojo{
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    height: 200px;
    align-items: center;
    background-image: url("pepa.jpeg");
}
.rojo img{
    height: 50%;
}
.rojo .titulo{
    font-size: 60px;
}
.rojo .menu{
    font-size: 30px;
    color: #666;
    font-weight: bolder;
}
.cuerpo{
    display: inline;
}
