<form class="" action="#" method="get">
    <input type="text" name="" value="">

    <input type="pass" name="" value="">

    <textarea name="name" rows="8" cols="80"></textarea>

    <select name="select">
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
    </select>

    <input type="checkbox" name="" value="">

    <input type="radio" name="" value="">

    <input type="submit" name="" value="">

    <input type="submit" name="" value="">

</form>
